body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('back1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

.dish-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.dish {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.dish img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.order-btn {
  margin-right: 10px;
  color: red;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
